.review-container {
  margin: 50px auto;
}
.btn-style {
  width: 90%;
  margin: 5px auto;
  background-color: #688f59;
  border-radius: 4px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.link-under {
  text-decoration: none;
}
